@{
    ViewData["Title"] = "Home";
    ViewData["Aplikasi"] = "API";
    Layout = "_LayoutCoba";
}
<h1 class="mt-5 mb-4">Selamat Datang</h1>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                jdjdj
              <i class="bi bi-alarm"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                jdjdj
            </div>
        </div>
    </div>
</div>
