<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Landing - API</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/Template/dist/img/api.svg" rel="icon">
    <link href="~/Template/dist/img/api.svg" rel="apple-touch-icon">

    <!-- Bootstrap CSS File -->
    <link href="/Template/Login/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/Template/Login/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Template/Login/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/Template/Login/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/Template/Login/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/Template/Login/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/Template/Login/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: DevFolio
      Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="page-top">

    @RenderBody()

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div id="preloader"></div>

    <!-- JavaScript Libraries -->
    <script src="/Template/Login/lib/jquery/jquery.min.js"></script>
    <script src="/Template/Login/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/Template/Login/lib/popper/popper.min.js"></script>
    <script src="/Template/Login/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Template/Login/lib/easing/easing.min.js"></script>
    <script src="/Template/Login/lib/counterup/jquery.waypoints.min.js"></script>
    <script src="/Template/Login/lib/counterup/jquery.counterup.js"></script>
    <script src="/Template/Login/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/Template/Login/lib/lightbox/js/lightbox.min.js"></script>
    <script src="/Template/Login/lib/typed/typed.min.js"></script>
    <!-- Contact Form JavaScript File -->
    @*<script src="contactform/contactform.js"></script>*@

    <!-- Template Main Javascript File -->
    <script src="/Template/Login/js/main.js"></script>
    @RenderSection("Scripts", required: false)


</body>
</html>
